MEMORY_IP=127.0.0.1
MEMORY_PORT=8002
LISTENING_IP=127.0.0.1
LISTENING_PORT=8003
FAT_PATH=/home/utnso/Desktop/tp-2023-2c-K3574-K3674/filesystem/fs/fat.dat
BLOCK_PATH=/home/utnso/Desktop/tp-2023-2c-K3574-K3674/filesystem/fs/bloques.dat
FCB_PATH=/home/utnso/Desktop/tp-2023-2c-K3574-K3674/filesystem/fs/fcbs
TOTAL_QUANTITY_BLOCKS=8192
SWAP_QUANTITY_BLOCKS=1024
BLOCK_SIZE=32
BLOCK_ACCESS_DELAY=2500
FAT_ACCESS_DELAY=500